.minio-bin/
.minio-data/
notebooks/.minio-bin/
notebooks/.minio-data/
notebooks/nohup.out
.devcontainer/minio_storage/

.devcontainer/minio_storage/.minio.sys/buckets/.bloomcycle.bin/xl.meta
.devcontainer/minio_storage/.minio.sys/buckets/.usage-cache.bin/xl.meta
.devcontainer/minio_storage/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
.devcontainer/minio_storage/.minio.sys/buckets/.usage.json/xl.meta
.devcontainer/minio_storage/.minio.sys/buckets/bronze/.metadata.bin/xl.meta
.devcontainer/minio_storage/.minio.sys/buckets/bronze/.usage-cache.bin/xl.meta
.devcontainer/minio_storage/.minio.sys/buckets/bronze/.usage-cache.bin.bkp/xl.meta
.devcontainer/minio_storage/.minio.sys/buckets/silver/.metadata.bin/xl.meta
.devcontainer/minio_storage/.minio.sys/buckets/silver/.usage-cache.bin/xl.meta
.devcontainer/minio_storage/.minio.sys/buckets/silver/.usage-cache.bin.bkp/xl.meta
.devcontainer/minio_storage/.minio.sys/config/config.json/xl.meta
.devcontainer/minio_storage/.minio.sys/config/iam/format.json/xl.meta
.devcontainer/minio_storage/.minio.sys/pool.bin/xl.meta
.devcontainer/minio_storage/.minio.sys/tmp/7e8c4396-a0aa-42c3-a0fb-21f8f2967e58
.devcontainer/minio_storage/.minio.sys/tmp/.trash/19b9fbee-284c-4247-a872-a1429f71973d/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/1e4217b4-e733-43c1-88cd-65939fec96de/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/255d9f40-ae0e-4f47-bcf4-52f57fa0c150/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/395d3d20-c94a-4eff-90bf-da75e7711431/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/474df0f6-13ff-4a2e-aec5-ae1654b85748/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/542183bc-cc7b-4378-bbf7-e03a70c74186/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/63e493de-1b50-4a15-8c4c-ee6515545935/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/7ee8a41d-355e-4420-84f9-5b008623c750/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/80ee5e16-c83a-4102-b1aa-1eb30b8d98d9/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/904119f0-e039-42ee-b2d2-654dd814b4f0/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/9c4726f2-f112-4e42-9b24-605a44f7e9c1/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/b7e9b612-1fd1-4d87-b073-6911f3789d4c/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/d929de49-40cf-4ece-b678-64817ee7468e/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/e4abbc74-2f7d-4a23-ac26-aa821193f40b/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/e5a85fb5-a8a3-4e0e-82aa-ffd7e6ff7d27/xl.meta.bkp
.devcontainer/minio_storage/.minio.sys/tmp/.trash/fc3c5e38-0d88-42c8-91e7-f7836f6c369d/xl.meta.bkp
.devcontainer/minio_storage/bronze/transactions_raw/_delta_log/00000000000000000000.json/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00000-906a05eb-5669-4eab-8345-18aa9c7dfba6-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00000-906a05eb-5669-4eab-8345-18aa9c7dfba6-c001.snappy.parquet/11ba9a68-287a-4ea4-99b0-63a0bf4e6bb9/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00000-c8280b59-3b56-48a7-8543-f4b0555d9051-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00000-c8280b59-3b56-48a7-8543-f4b0555d9051-c000.snappy.parquet/9ac06272-2b6b-4b09-a34a-ac36dcf6c8cb/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00001-95c1c8d1-8e8e-4904-8564-141397903d63-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00001-95c1c8d1-8e8e-4904-8564-141397903d63-c000.snappy.parquet/b12f09bf-ee57-4686-8ed3-6e16aa3fe4fe/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00001-ab546480-7b69-4e58-a9a2-f5aebd0d6cbd-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00001-ab546480-7b69-4e58-a9a2-f5aebd0d6cbd-c001.snappy.parquet/7b87e74a-5d97-4c24-aec9-28c99bde2d72/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00002-cc2a9651-b36c-4dfb-b19a-5c708445bec3-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00002-cc2a9651-b36c-4dfb-b19a-5c708445bec3-c000.snappy.parquet/128ef42d-9473-4610-b690-e211335883e5/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00002-cf47d4f7-0a09-4b3b-858e-f6f74f7d2bcb-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00002-cf47d4f7-0a09-4b3b-858e-f6f74f7d2bcb-c001.snappy.parquet/89ed6a16-6a96-4c73-9e34-b2e51048cca1/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00003-4cab86e1-d147-4ae8-8e26-a9b46da6a721-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00003-4cab86e1-d147-4ae8-8e26-a9b46da6a721-c000.snappy.parquet/52daacf1-d998-4917-ba46-f6409226c1e7/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00003-a9d1042b-a8ab-4e0f-8bd9-52edfbcecd5a-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00003-a9d1042b-a8ab-4e0f-8bd9-52edfbcecd5a-c001.snappy.parquet/9c1d4168-c83a-4d0a-9d6b-2f534d49c2d0/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00004-a6f84e7b-efba-47ef-a4bf-fc14eb9a9663-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00004-a6f84e7b-efba-47ef-a4bf-fc14eb9a9663-c000.snappy.parquet/b4ab5685-a5de-402f-b40b-d1786fddded2/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00004-e039495e-a94d-491c-a8ef-678ae06e414b-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00004-e039495e-a94d-491c-a8ef-678ae06e414b-c001.snappy.parquet/1dee8482-51bf-455d-85e0-2172bbc10570/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00005-1ea04027-5220-4311-a38d-57869320414a-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00005-1ea04027-5220-4311-a38d-57869320414a-c000.snappy.parquet/0e6d64f7-b72d-4f91-833e-b42e62e16c19/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00005-c65e4622-4df0-43f2-b1a4-8ddd15113fb9-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00005-c65e4622-4df0-43f2-b1a4-8ddd15113fb9-c001.snappy.parquet/e658632e-f0bf-4f29-87a2-bf776f43247c/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00006-d05c4a69-3059-4668-9c91-f1069ebf49f1-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00006-d05c4a69-3059-4668-9c91-f1069ebf49f1-c001.snappy.parquet/4cacb8b9-58d6-41d9-a434-3988ca5db12b/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00006-e4cda9be-9f74-4673-8718-aa2e2b282862-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00006-e4cda9be-9f74-4673-8718-aa2e2b282862-c000.snappy.parquet/0476299e-6cd0-402a-8388-b308f3b083ae/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00007-0e8c41d1-8de3-4f2a-903b-b24e870df19b-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00007-0e8c41d1-8de3-4f2a-903b-b24e870df19b-c001.snappy.parquet/12e0b5bb-f0d4-4a1f-a21a-fe7a162fb70b/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00007-7ca85ca1-9704-4729-a76d-fffc91aba039-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00007-7ca85ca1-9704-4729-a76d-fffc91aba039-c000.snappy.parquet/4819db40-dc07-447e-b353-ddb631a82b96/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00008-764df06a-507c-436d-8325-19e82b98ef02-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00008-764df06a-507c-436d-8325-19e82b98ef02-c001.snappy.parquet/e2889a4e-3458-482b-835d-6d2839f4160d/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00008-fb5b4433-34c4-40fe-9666-93a381386fda-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00008-fb5b4433-34c4-40fe-9666-93a381386fda-c000.snappy.parquet/a7d35e63-6ac5-4f05-8a46-6a6d1a610e44/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00009-641898ab-20e8-4704-80af-6c0c010b7086-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00009-641898ab-20e8-4704-80af-6c0c010b7086-c001.snappy.parquet/7f86f0a6-76f1-4783-9399-081278025a9a/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00009-ab38f65e-bcfb-4fd1-9e28-f6353eb7c79c-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00009-ab38f65e-bcfb-4fd1-9e28-f6353eb7c79c-c000.snappy.parquet/cb730187-f200-49fb-9ccf-b936751b6a33/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00010-6f170c13-74f2-4494-95db-d4ca7d4f52be-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00010-6f170c13-74f2-4494-95db-d4ca7d4f52be-c000.snappy.parquet/de895f78-82e4-4e1c-bc93-0f0cf114b60f/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00010-e2b9ab3d-7f45-4ba2-bf9d-dc2c6f8ee3b1-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00010-e2b9ab3d-7f45-4ba2-bf9d-dc2c6f8ee3b1-c001.snappy.parquet/c73a3695-df52-45a1-ae60-d799539fbdac/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00011-14d2b0e5-c346-47b2-8b70-40eaf500edf1-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00011-14d2b0e5-c346-47b2-8b70-40eaf500edf1-c001.snappy.parquet/3d6382f8-8ab8-449a-8fa4-7aa47588d5ba/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00011-32637470-d673-4220-8c42-a266b36b95f3-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00011-32637470-d673-4220-8c42-a266b36b95f3-c000.snappy.parquet/6459169e-80d9-42c1-90dd-cd6665698eb1/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00012-04ede443-732f-4e98-82d1-e374d52f12bd-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00012-04ede443-732f-4e98-82d1-e374d52f12bd-c000.snappy.parquet/afb1a509-484a-4744-84e4-4bee397f198d/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00012-9a4fbae8-b8d1-4fe3-9efa-df2367b5aebb-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00012-9a4fbae8-b8d1-4fe3-9efa-df2367b5aebb-c001.snappy.parquet/97719c26-2992-445f-8e0c-d4489169780a/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00013-6c601ee9-6168-417f-acc0-1653038e72c7-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00013-6c601ee9-6168-417f-acc0-1653038e72c7-c000.snappy.parquet/81b1e614-0a90-4ee5-b459-2adcb7cd6cc4/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00013-f5cdce7a-bd91-476e-816f-df8d89960bab-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00013-f5cdce7a-bd91-476e-816f-df8d89960bab-c001.snappy.parquet/6524e527-902a-4ec8-bbe5-d8f31bb8c0df/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00014-70769897-6ef7-4114-bf9d-bcb4d36667f0-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00014-70769897-6ef7-4114-bf9d-bcb4d36667f0-c000.snappy.parquet/ce618943-c306-4f03-a747-eafc1676dcc3/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00014-af3bbb8d-8eac-43a6-8b09-a227577c0d60-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00014-af3bbb8d-8eac-43a6-8b09-a227577c0d60-c001.snappy.parquet/47aa9190-8dcb-4a20-ba80-421135b9f7af/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00015-417959e6-5e6d-4d3f-ac93-6f3095f5f731-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00015-417959e6-5e6d-4d3f-ac93-6f3095f5f731-c000.snappy.parquet/d765c965-b57f-40be-8fa3-5c562bf2d22a/part.1
.devcontainer/minio_storage/bronze/transactions_raw/part-00015-7396ba77-91d5-46e0-b925-86a1ee37f7e7-c001.snappy.parquet/xl.meta
.devcontainer/minio_storage/bronze/transactions_raw/part-00015-7396ba77-91d5-46e0-b925-86a1ee37f7e7-c001.snappy.parquet/a8bf81c8-9ffe-4c1a-9080-7795235cfed2/part.1
.devcontainer/minio_storage/silver/transactions_refined/_delta_log/00000000000000000000.json/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/_delta_log/00000000000000000001.json/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/_delta_log/00000000000000000002.json/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00000-0d3b9a9e-e371-4ee6-8845-b4603f4b2926-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00000-0d3b9a9e-e371-4ee6-8845-b4603f4b2926-c000.snappy.parquet/3fee061e-bcda-451b-b209-e733daac24a9/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00000-0d3b9a9e-e371-4ee6-8845-b4603f4b2926-c000.snappy.parquet/3fee061e-bcda-451b-b209-e733daac24a9/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00000-0d3b9a9e-e371-4ee6-8845-b4603f4b2926-c000.snappy.parquet/3fee061e-bcda-451b-b209-e733daac24a9/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00000-46d0b86e-3ca9-45c7-81ff-854f4374d213-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00000-46d0b86e-3ca9-45c7-81ff-854f4374d213-c000.snappy.parquet/561a870a-94b5-4339-a0f3-25a07a791652/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00000-46d0b86e-3ca9-45c7-81ff-854f4374d213-c000.snappy.parquet/561a870a-94b5-4339-a0f3-25a07a791652/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00000-46d0b86e-3ca9-45c7-81ff-854f4374d213-c000.snappy.parquet/561a870a-94b5-4339-a0f3-25a07a791652/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00000-f9bc6497-ed33-4949-9776-698ff26614e2-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00000-f9bc6497-ed33-4949-9776-698ff26614e2-c000.snappy.parquet/02c4b671-9937-4777-bd35-a271b26eb2b7/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00000-f9bc6497-ed33-4949-9776-698ff26614e2-c000.snappy.parquet/02c4b671-9937-4777-bd35-a271b26eb2b7/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00000-f9bc6497-ed33-4949-9776-698ff26614e2-c000.snappy.parquet/02c4b671-9937-4777-bd35-a271b26eb2b7/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00001-dcc44f22-86bc-484b-990b-f7a4bc288b65-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00001-dcc44f22-86bc-484b-990b-f7a4bc288b65-c000.snappy.parquet/fc0033f0-655b-4c1a-b6df-c3df919ccc95/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00001-dcc44f22-86bc-484b-990b-f7a4bc288b65-c000.snappy.parquet/fc0033f0-655b-4c1a-b6df-c3df919ccc95/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00001-dcc44f22-86bc-484b-990b-f7a4bc288b65-c000.snappy.parquet/fc0033f0-655b-4c1a-b6df-c3df919ccc95/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00001-f07e16b5-4754-4a46-8b53-fd7a6509dd96-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00001-f07e16b5-4754-4a46-8b53-fd7a6509dd96-c000.snappy.parquet/b0243fca-7351-48a8-b592-95f318fb4e4a/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00001-f07e16b5-4754-4a46-8b53-fd7a6509dd96-c000.snappy.parquet/b0243fca-7351-48a8-b592-95f318fb4e4a/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00001-f07e16b5-4754-4a46-8b53-fd7a6509dd96-c000.snappy.parquet/b0243fca-7351-48a8-b592-95f318fb4e4a/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00001-f26eb56d-6ea7-49a2-90fd-9126e885d1b7-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00001-f26eb56d-6ea7-49a2-90fd-9126e885d1b7-c000.snappy.parquet/1c7c88f0-8d00-4201-bb25-94aa7e797bb4/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00001-f26eb56d-6ea7-49a2-90fd-9126e885d1b7-c000.snappy.parquet/1c7c88f0-8d00-4201-bb25-94aa7e797bb4/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00001-f26eb56d-6ea7-49a2-90fd-9126e885d1b7-c000.snappy.parquet/1c7c88f0-8d00-4201-bb25-94aa7e797bb4/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00002-3e4ec5bd-32d3-47c9-ac35-cd2f554c9e2f-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00002-3e4ec5bd-32d3-47c9-ac35-cd2f554c9e2f-c000.snappy.parquet/940c6317-a041-44f1-badb-3cc2b90c31ef/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00002-3e4ec5bd-32d3-47c9-ac35-cd2f554c9e2f-c000.snappy.parquet/940c6317-a041-44f1-badb-3cc2b90c31ef/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00002-3e4ec5bd-32d3-47c9-ac35-cd2f554c9e2f-c000.snappy.parquet/940c6317-a041-44f1-badb-3cc2b90c31ef/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00002-517302fe-e2f1-4735-af02-a9727cb83da0-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00002-517302fe-e2f1-4735-af02-a9727cb83da0-c000.snappy.parquet/5e336819-90ba-47a1-a39f-7db811c16a60/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00002-517302fe-e2f1-4735-af02-a9727cb83da0-c000.snappy.parquet/5e336819-90ba-47a1-a39f-7db811c16a60/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00002-517302fe-e2f1-4735-af02-a9727cb83da0-c000.snappy.parquet/5e336819-90ba-47a1-a39f-7db811c16a60/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00002-8257084e-6214-4f8f-87d8-2f956233daf9-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00002-8257084e-6214-4f8f-87d8-2f956233daf9-c000.snappy.parquet/f724effe-5a55-4206-8f9c-547dcbc8065e/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00002-8257084e-6214-4f8f-87d8-2f956233daf9-c000.snappy.parquet/f724effe-5a55-4206-8f9c-547dcbc8065e/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00002-8257084e-6214-4f8f-87d8-2f956233daf9-c000.snappy.parquet/f724effe-5a55-4206-8f9c-547dcbc8065e/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00003-72cb7484-8ff2-47ef-b58d-3fc0e82bdbb4-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00003-72cb7484-8ff2-47ef-b58d-3fc0e82bdbb4-c000.snappy.parquet/55ab6b44-96b4-4ec0-829f-3484e643db78/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00003-72cb7484-8ff2-47ef-b58d-3fc0e82bdbb4-c000.snappy.parquet/55ab6b44-96b4-4ec0-829f-3484e643db78/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00003-72cb7484-8ff2-47ef-b58d-3fc0e82bdbb4-c000.snappy.parquet/55ab6b44-96b4-4ec0-829f-3484e643db78/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00003-beef4228-9519-44bd-9c4d-8b481b80cf6d-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00003-beef4228-9519-44bd-9c4d-8b481b80cf6d-c000.snappy.parquet/f1df6561-4b15-41d1-92bf-ffbc16c42cab/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00003-beef4228-9519-44bd-9c4d-8b481b80cf6d-c000.snappy.parquet/f1df6561-4b15-41d1-92bf-ffbc16c42cab/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00003-beef4228-9519-44bd-9c4d-8b481b80cf6d-c000.snappy.parquet/f1df6561-4b15-41d1-92bf-ffbc16c42cab/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00003-e169a285-34a2-4032-9f8e-8963d24389d1-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00003-e169a285-34a2-4032-9f8e-8963d24389d1-c000.snappy.parquet/01db3c71-f355-43f3-bf6c-3ef52a81ae2b/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00003-e169a285-34a2-4032-9f8e-8963d24389d1-c000.snappy.parquet/01db3c71-f355-43f3-bf6c-3ef52a81ae2b/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00003-e169a285-34a2-4032-9f8e-8963d24389d1-c000.snappy.parquet/01db3c71-f355-43f3-bf6c-3ef52a81ae2b/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00004-854382a0-dfb7-4f90-ad41-a287af7ab0c6-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00004-854382a0-dfb7-4f90-ad41-a287af7ab0c6-c000.snappy.parquet/6115d7bb-90de-42cc-8c33-0babd13619b2/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00004-854382a0-dfb7-4f90-ad41-a287af7ab0c6-c000.snappy.parquet/6115d7bb-90de-42cc-8c33-0babd13619b2/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00004-854382a0-dfb7-4f90-ad41-a287af7ab0c6-c000.snappy.parquet/6115d7bb-90de-42cc-8c33-0babd13619b2/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00004-bcb83b7e-a18e-4f82-b4ee-354024a36f69-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00004-bcb83b7e-a18e-4f82-b4ee-354024a36f69-c000.snappy.parquet/0d24b588-175c-4a7a-88dc-85c40a2f13b8/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00004-bcb83b7e-a18e-4f82-b4ee-354024a36f69-c000.snappy.parquet/0d24b588-175c-4a7a-88dc-85c40a2f13b8/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00004-bcb83b7e-a18e-4f82-b4ee-354024a36f69-c000.snappy.parquet/0d24b588-175c-4a7a-88dc-85c40a2f13b8/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00004-cec9b878-efb4-42d3-b594-1f992a56debc-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00004-cec9b878-efb4-42d3-b594-1f992a56debc-c000.snappy.parquet/66166ffb-f23b-44b2-8794-32f7095841db/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00004-cec9b878-efb4-42d3-b594-1f992a56debc-c000.snappy.parquet/66166ffb-f23b-44b2-8794-32f7095841db/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00004-cec9b878-efb4-42d3-b594-1f992a56debc-c000.snappy.parquet/66166ffb-f23b-44b2-8794-32f7095841db/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00005-c6da3b3d-de79-4d10-9e50-e79c61eb4706-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00005-c6da3b3d-de79-4d10-9e50-e79c61eb4706-c000.snappy.parquet/393ea5a9-d687-453e-b26d-6cd1381e5e1b/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00005-c6da3b3d-de79-4d10-9e50-e79c61eb4706-c000.snappy.parquet/393ea5a9-d687-453e-b26d-6cd1381e5e1b/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00005-c6da3b3d-de79-4d10-9e50-e79c61eb4706-c000.snappy.parquet/393ea5a9-d687-453e-b26d-6cd1381e5e1b/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00005-d8c6fe86-cfb0-4d0c-99a6-4c39669788da-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00005-d8c6fe86-cfb0-4d0c-99a6-4c39669788da-c000.snappy.parquet/40319af0-1085-4642-a8e9-ebed1f8a32d1/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00005-d8c6fe86-cfb0-4d0c-99a6-4c39669788da-c000.snappy.parquet/40319af0-1085-4642-a8e9-ebed1f8a32d1/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00005-d8c6fe86-cfb0-4d0c-99a6-4c39669788da-c000.snappy.parquet/40319af0-1085-4642-a8e9-ebed1f8a32d1/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00005-ebd4e675-c32e-4ab1-b8f5-c7b1b031925b-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00005-ebd4e675-c32e-4ab1-b8f5-c7b1b031925b-c000.snappy.parquet/17df6afb-f4a7-4147-9ad4-f0f7c4b3080e/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00005-ebd4e675-c32e-4ab1-b8f5-c7b1b031925b-c000.snappy.parquet/17df6afb-f4a7-4147-9ad4-f0f7c4b3080e/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00005-ebd4e675-c32e-4ab1-b8f5-c7b1b031925b-c000.snappy.parquet/17df6afb-f4a7-4147-9ad4-f0f7c4b3080e/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00006-7abc6213-5180-40fb-89fa-def484edecf5-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00006-7abc6213-5180-40fb-89fa-def484edecf5-c000.snappy.parquet/bd3735dd-0b0b-4a6a-8d50-eabceddef810/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00006-7abc6213-5180-40fb-89fa-def484edecf5-c000.snappy.parquet/bd3735dd-0b0b-4a6a-8d50-eabceddef810/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00006-7abc6213-5180-40fb-89fa-def484edecf5-c000.snappy.parquet/bd3735dd-0b0b-4a6a-8d50-eabceddef810/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00006-9d482744-bbcd-40f4-a71f-1d1a6e8c863f-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00006-9d482744-bbcd-40f4-a71f-1d1a6e8c863f-c000.snappy.parquet/46899675-844e-4a59-a854-77fb8de298b7/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00006-9d482744-bbcd-40f4-a71f-1d1a6e8c863f-c000.snappy.parquet/46899675-844e-4a59-a854-77fb8de298b7/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00006-9d482744-bbcd-40f4-a71f-1d1a6e8c863f-c000.snappy.parquet/46899675-844e-4a59-a854-77fb8de298b7/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00006-e7956b05-f04c-4b1f-bef2-f75af1dc6de2-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00006-e7956b05-f04c-4b1f-bef2-f75af1dc6de2-c000.snappy.parquet/4fa34b92-01dc-4e38-b4f8-81c2b3969ddf/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00006-e7956b05-f04c-4b1f-bef2-f75af1dc6de2-c000.snappy.parquet/4fa34b92-01dc-4e38-b4f8-81c2b3969ddf/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00006-e7956b05-f04c-4b1f-bef2-f75af1dc6de2-c000.snappy.parquet/4fa34b92-01dc-4e38-b4f8-81c2b3969ddf/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00007-5517f57d-8eb0-4752-b0ae-488a868e9154-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00007-5517f57d-8eb0-4752-b0ae-488a868e9154-c000.snappy.parquet/818f58e7-f4ed-4cb8-b640-67a894850444/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00007-5517f57d-8eb0-4752-b0ae-488a868e9154-c000.snappy.parquet/818f58e7-f4ed-4cb8-b640-67a894850444/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00007-5517f57d-8eb0-4752-b0ae-488a868e9154-c000.snappy.parquet/818f58e7-f4ed-4cb8-b640-67a894850444/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00007-9266b265-0a19-4c24-a307-e44fbd07039e-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00007-9266b265-0a19-4c24-a307-e44fbd07039e-c000.snappy.parquet/67b839bb-4878-4ee7-b053-5851d7efd5ba/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00007-9266b265-0a19-4c24-a307-e44fbd07039e-c000.snappy.parquet/67b839bb-4878-4ee7-b053-5851d7efd5ba/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00007-9266b265-0a19-4c24-a307-e44fbd07039e-c000.snappy.parquet/67b839bb-4878-4ee7-b053-5851d7efd5ba/part.3
.devcontainer/minio_storage/silver/transactions_refined/part-00007-d446c440-1eaa-49c9-9c7e-bcfee25dcbdf-c000.snappy.parquet/xl.meta
.devcontainer/minio_storage/silver/transactions_refined/part-00007-d446c440-1eaa-49c9-9c7e-bcfee25dcbdf-c000.snappy.parquet/afeb92c3-8c45-4641-97dd-10698f8f2596/part.1
.devcontainer/minio_storage/silver/transactions_refined/part-00007-d446c440-1eaa-49c9-9c7e-bcfee25dcbdf-c000.snappy.parquet/afeb92c3-8c45-4641-97dd-10698f8f2596/part.2
.devcontainer/minio_storage/silver/transactions_refined/part-00007-d446c440-1eaa-49c9-9c7e-bcfee25dcbdf-c000.snappy.parquet/afeb92c3-8c45-4641-97dd-10698f8f2596/part.3
.minio-bin/minio
.minio-data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
.minio-data/.minio.sys/buckets/.usage.json/xl.meta
.minio-data/.minio.sys/config/config.json/xl.meta
.minio-data/.minio.sys/config/iam/format.json/xl.meta
.minio-data/.minio.sys/pool.bin/xl.meta
.minio-data/.minio.sys/tmp/e39f238e-3c91-4dc9-88f9-8362c7a06a0f
.minio-data/.minio.sys/tmp/.trash/4843ea26-a6eb-4ef5-adfb-44b2e446a266/xl.meta.bkp
.minio-data/.minio.sys/tmp/.trash/5700b48f-89a6-481b-951f-752b5dd163aa/xl.meta.bkp
.minio-data/.minio.sys/tmp/.trash/7e9fa961-17a9-4a5d-acf1-1a15b15e5bdb/xl.meta.bkp
.minio-data/.minio.sys/tmp/.trash/9812d8a3-b245-4189-b5e7-74ea393217f3/xl.meta.bkp
.minio-data/.minio.sys/tmp/.trash/adde9a3d-840d-4579-b088-309332ec7a8e/xl.meta.bkp
.minio-data/.minio.sys/tmp/.trash/c36c55cf-4ceb-4fe4-8f71-654812ebe4d8/xl.meta.bkp
.minio-data/.minio.sys/tmp/.trash/cd0eab76-8fdd-4505-9bc4-2f172997511d/xl.meta.bkp
.minio-data/.minio.sys/tmp/.trash/fa794ff3-8e2e-4c35-84fe-6ddc0982d8b4/xl.meta.bkp
notebooks/hello-world.ipynb
notebooks/nohup.out
notebooks/.minio-bin/minio
notebooks/.minio-data/.minio.sys/format.json
notebooks/.minio-data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
notebooks/.minio-data/.minio.sys/buckets/.heal/mrf/list.bin
notebooks/.minio-data/.minio.sys/buckets/.usage.json/xl.meta
notebooks/.minio-data/.minio.sys/config/config.json/xl.meta
notebooks/.minio-data/.minio.sys/config/iam/format.json/xl.meta
notebooks/.minio-data/.minio.sys/pool.bin/xl.meta
notebooks/.minio-data/.minio.sys/tmp/7f85b3fd-6945-452f-92a2-647e4668d126
notebooks/.minio-data/.minio.sys/tmp/.trash/0ebded9b-2b1e-4682-8b8e-803e7a46c40d/xl.meta.bkp
notebooks/.minio-data/.minio.sys/tmp/.trash/2884af1d-9b33-44d9-a03e-df18eddba9b4/xl.meta.bkp
notebooks/.minio-data/.minio.sys/tmp/.trash/61963bb9-08d9-4882-a9d5-ce09c5bbe59a/xl.meta.bkp
notebooks/.minio-data/.minio.sys/tmp/.trash/f8f6dcfd-231a-4866-a49a-c71e05c6c481/xl.meta.bkp
